<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fundacja Zbigniewa Herberta - Strona główna</title>
    <meta name="author" content="WarzybokMarcin" />
    <meta name="description" content="kotwice" />
    <meta name="keywords" content="kotwice" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/ico" href="assets/favicon(1).ico">
    <script src="../js/bootstrap.min.js"></script>


</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Zbigniew Herbert</h1>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="./cv.html" class="nav-link">Życiorys</a>
                </li>
                <li class="nav-item">
                    <a href="./creating.html" class="nav-link">Publikacje</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Osiągnięcia</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="des">
        <div class="odst">

        </div>
        <h2 class="header-crt">
            Twórczość
        </h2>
        
        
    </article>
    <footer class="custom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    Copyright &copy; All Rights Reserved
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
</body>

</html>