<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fundacja Zbigniewa Herberta - Strona główna</title>
    <meta name="author" content="WarzybokMarcin" />
    <meta name="description" content="kotwice" />
    <meta name="keywords" content="kotwice" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/ico" href="assets/favicon(1).ico">
    <script src="../js/bootstrap.min.js"></script>


</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Zbigniew Herbert</h1>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="./cv.html" class="nav-link">Życiorys</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Publikacje</a>
                </li>
                <li class="nav-item">
                    <a href="./achive.html" class="nav-link">Osiągnięcia</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="des">
        <div class="odst">

        </div>
        <h2 class="header-crt">
            Twórczość
        </h2>
        <div class="cv-des">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 cv-img">
                        <img src="../assets/indeks.jpg" alt="zdjecie">
                    </div>
                    <div class="col col-sm-12 col-md-6">
                        <h4>Tomy poetyckie</h4>
                        <ul class="list">
                            <li>Struna światła, Warszawa 1956.</li>
                            <li>Hermes, pies i gwiazda, Warszawa 1957.</li>
                            <li>Studium przedmiotu, Warszawa 1961.</li>
                            <li>Napis, Warszawa 1969.</li>
                            <li>Pan Cogito, Warszawa 1974.</li>
                            <li>Raport z oblężonego Miasta i inne wiersze, Paryż 1983.</li>
                            <li>Elegia na odejście, Paryż 1990.</li>
                            <li>Rovigo, Wrocław 1992.</li>
                            <li>Epilog burzy, Wrocław 1998.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h4>Zbiory esejów, opowiadania</h4>
                        <ul>
                            <li>Barbarzyńca w ogrodzie, Warszawa 1962.</li>
                            <li>Martwa natura z wędzidłem, Wrocław 1993.</li>
                            <li>Labirynt nad morzem, Warszawa 2000.</li>
                            <li>Król mrówek, Kraków 2001.</li>
                            <li>Węzeł gordyjski oraz inne pisma rozproszone</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                            <h4>Dramaty</h4>
                            <ul>
                                <li>Jaskinia filozofów, „Twórczość” 1956, nr 9</li>
                                <li>Drugi pokój, „Dialog” 1958, nr 4</li>
                                <li>Rekonstrukcja poety, „Więź” 1960, nr 11/12</li>
                                <li>Lalek. Sztuka na głosy, „Dialog” 1961, nr 12</li>
                                <li>Listy naszych czytelników, „Dialog” 1972, nr 11</li>
                            </ul>
                    </div>
                </div>
                <a class="btn btn-lg btn-custom" href="https://poezja.org/wz/Herbert_Zbigniew/">Jeszcze????</a>
            </div>
        </div>
        
    </article>
    <footer class="custom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    Copyright &copy; All Rights Reserved
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
</body>

</html>