<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fundacja Zbigniewa Herberta - Strona główna</title>
    <meta name="author" content="WarzybokMarcin" />
    <meta name="description" content="kotwice" />
    <meta name="keywords" content="kotwice" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/ico" href="assets/favicon(1).ico">
    <script src="../js/bootstrap.min.js"></script>


</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Zbigniew Herbert</h1>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Życiorys</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Publikacje</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Osiągnięcia</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="des">
        <div class="container cv-text">
            <div class="row">
                <div class="col line"></div>
                <div class="col-sm-12 col-md-3">
                    <h2>Życiorys</h2>
                </div>
                <div class="col line"></div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col-sm-12 col-md-8">
                    <h4>Dzieciństwo</h4>
                    <p>
                        Syn Bolesława i Marii Herbert. Ojciec był z wykształcenia prawnikiem, jednym z obrońców Lwowa. Mieszkali we Lwowie. Zbigniew
                        uczył się w Państwowym VIII Gimnazjum i Liceum im. Króla Kazimierza Wielkiego we Lwowie w dwudziestoleciu
                        międzywojennym. Po zajęciu Lwowa przez Niemców uczęszczał na tajne komplety skąd zdał maturę w 1943
                        roku. Pracował w tym samym czasie jako karmiciel wszy. Po otrzymaniu matury zaczął studia polonistyczne
                        na Uniwersytecie Jana Kazimierza w konspiracji, lecz musiał je przerwać wyjazdem do Krakowa spowodowanym
                        wkroczeniem Armii czerwonej do Lwowa.</p>
                    <h4>Studia</h4>
                    <p> W Krakowie studiował ekonomię. W 1947 roku uzyskał dyplom Akademii Handlowej. W 1949 roku w Toruniu uzyskał
                        tytuł prawnika(magistra praw). Rozpoczął studia filozoficzne w Toruniu. Od 1948 r. mieszkał w Sopocie
                        i został kandydatem Związku Literatów Polskich.</p>
                    <h4>Pobyt w Toruniu</h4>
                    <p> W 1949r. mieszkał w Toruniu i pracował jako nauczyciel języka polskiego w szkole podstawowej. Rozpoczął
                        publikacje recenzji teatralnych, wystaw plastycznych. Pisał m.in. w „Słowie Powszechnym”, „Tygodniku
                        Powszechnym”. W 1952 kilka recenzji ukazało się w „Przeglądzie Powszechnym". Był też w tym czasie
                        płatnym krwiodawcą. Wskutek odwilży politycznej w 1956 roku rozpoczął podróże po krajach śródziemnomorskich
                        - Francji i Włoszech, także w Anglii.</p>
                    <h4>Pobyt w Paryżu</h4>
                    <p> W 1963 przeniósł się do Paryża. Wrócił do Polski w 1964 roku. Nie chciał całkowicie opuszczać Polski.
                        W 1966 pojechał do Niemiec, Austrii, Francji.29 marca 1968 roku w paryskim konsulacie poślubił Katarzynę
                        Dzieduszycką. Lata 1975-1981 spędził za granicą, głównie w Niemczech oraz w Austrii i Włoszech.
                    </p>
                    <h4>Stosunek do Solidarności</h4>
                    <p>
                        Do Polski wrócił z powodu powstania "Solidarności". Stał się dla młodego pokolenia wyrazem wolności i oporu. Od 1991 roku,
                        po powrocie do Warszawy skupił się na aktywności politycznej. Uprawiał bardzo antykomunistyczną publicystykę,
                        wystosował list do prezydenta Lecha Wałęsy w sprawie pułkownika Kuklińskiego, a także do prezydenta
                        Czeczenii Dżochara Dudajewa. Zbierał pieniądze na pomoc Czeczenii, która była spustoszona przez I
                        wojnę czeczeńską. Krytykował porozumienie okrągłego stołu, Czesława Miłosza i Adama Michnika. Swoją
                        ostatnią podróż odbył do Holandii. Chorował na astmę. Zmarł 28 lipca 1998 w Warszawie.

                    </p>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </article>
    <footer class="custom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    Copyright &copy; All Rights Reserved
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
</body>

</html>